@use 'variables' as *;

@keyframes shiny_btn {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    91% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    92% { -webkit-transform: scale(4) rotate(45deg); opacity: .7; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  } 
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
    
