
/* ------------------------
   IBM Plex Mono (Primary)
   ------------------------ */

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ------------------------
   Plus Jakarta Sans (Secondary)
   ------------------------ */
// @font-face {
//   font-family: 'Plus Jakarta Sans';
//   src: url('/static/fonts/plus-jakarta/PlusJakartaSans-Regular.ttf') format('ttf');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
//
// @font-face {
//   font-family: 'Plus Jakarta Sans';
//   src: url('/static/fonts/plus-jakarta/PlusJakartaSans-SemiBold.ttf') format('ttf');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/static/fonts/pjs/PlusJakartaSans-Variable.ttf') format('ttf-variations');
  font-weight: 200 800;
  font-display: swap;
}

/* ------------------------
   Source Sans Pro (Logo)
   ------------------------ */
@font-face {
  font-family: 'Source Sans 3';
  src: url('/static/fonts/source_sans_3/static/SourceSans3-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ------------------------
   SCSS Variables
   ------------------------ */
$font-primary: 'IBM Plex Mono', monospace;
$font-secondary: 'Plus Jakarta Sans', sans-serif;
$font_logo: 'Source Sans 3', sans-serif;


// Colors
$white: #F5F4EF;
$red: #ff1414d9;
$lightPurple:#9e96c1;
$midlightPurple: #a491e3;
$midPurple: #955cf1;

$darkPurple: #7b5aa7;
$lightBlue: #a1f8eb;
$midligthBlue: #789bf4;
// $lightBlue: #c4fcff;


$lightGreen: #3bff8d;
$midGreen: #2dca6f;
$primary: #3498db;
$secondary: #e74c3c;

$background_1: rgba(240, 240, 240, .4);
$background_2: rgba(240, 240, 240, .8);
$background_3: rgba(140, 140, 140, .4);

$background_nav_1: rgba(200, 200, 200, .8);
$background_nav_2: rgba(140, 140, 140, .2);

$background_dark: rgba(40, 40, 40, .8);

$lightOrange: #F5B200;
$midlightOrange: #FF6B01;

$text: #333333;
$accent: #27ae60;
$lightGray: #dcdcde;
$midGray: #b4b4b4;
$darkGray: #595a5a;

$brightOrange: #ffc218;

$black: #1D1D1F;

// Font Sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-big: 1.375rem; //22px


$dark_transparent: rgba(0, 0, 0, 0.8);
$light_transparent: rgba(50, 50, 50, 0.5);


$soft_shadow: -4px -4px 10px rgba(255, 255, 255, 0.4), 4px 4px 10px rgba(0, 0, 0, 0.1);
$hard_shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
