#keyboard_header {
  box-shadow: none;
}

#market_header {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.keyboard_swap {
  left: 40vw !important;
}

.market_swap {
  left: 0 !important;
}
