@use '../variables' as *;
@use '../mixins' as *;

#profile_search_div {
  position: relative;
  top: 7rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  background: $background_nav_2;
  border-radius: 8px;
  padding: 1.4rem;
  overflow: hidden;
}

.search_profile_wrapper {
  margin-bottom: .4rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.4rem;
  white-space: nowrap;
  > p {
    width: 6rem;
  }
}
.search_profile_wrapper::-webkit-scrollbar {
  display: none;
}

.profile_picture_stack {
  flex: 0 0 2.4rem;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: .8rem;

  > img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
  }
}

.search_profile_btn {
  min-width: 5.5rem;
  overflow: hidden;
  // &:after {
  //   box-shadow: $hard_shadow;
  // }
  &:hover {
    color: $white;
  }
  &:hover:after {
    background: $background_dark;
  }
}

.search_profile_stat {
  font-size: 14px;
  padding: 0 1.4rem;
  align-self: center;
  &:last-child {
    padding: 0 .4rem;
    font-size: 12px;

  }
}

.profile_card_info {
  margin-left: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

}
